.logo-web, .logo-studio {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    line-height: 21px;
    font-size: 18px;
    letter-spacing: 3%;
}
.logo-web {
    color: #4d5ae5;
}
.logo-studio {
    color: #2e2f42;
}
.main-header-menu-link {
    color: #2e2f42;
    font-family: "roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: left;
}
.main-header-menu-item {
    text-align: left;
}
.address-item-menu-link {
    color: #434455;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: left;
}